
.section-hero {
    height: 768px;
    max-width: 1366px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.section-hero-content {
    width: 40%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.btnPrimary{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 25px;
}

.section-content-item figure{
    max-width: 400px;
}