/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

/*config vars as root*/
:root {
    --primary-color: #eb0712;
    --white: #fff;
    --secondary-color: #2e2e2e;
    --third-color: #5d5d5d;
    --fourth-color: #f31722;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: var(--white);
    font-family: 'Arimo', sans-serif;
    min-height: 100vh;
    font-weight: 400;
    font-size: 20px;
}